# Minimal pip requirement list for AMPL with CPU support only. This includes only the packages directly imported by AMPL code, plus a few others commonly used during development. 

tensorflow

jax[cpu]

--find-links https://download.pytorch.org/whl/cpu
torch
torch_geometric

xgboost

bokeh
matplotlib
matplotlib-venn
seaborn
umap-learn

pyarrow

bravado

# requires pkg-config to build: sudo apt-get pkg-config
# requires Cairo: sudo apt-get install libcairo2-dev
# pycairo 

maestrowf
MolVS
mordred

pytest
ipykernel

deepchem==2.7.1

#deepchem[tensorflow] # instructions unclear here - trouble on my home system
#deepchem[jax]        # instructions unclear here - trouble on my home system
#deepchem[torch]

pyyaml==5.4.1
