--index-url https://download.pytorch.org/whl/rocm6.4
--extra-index-url https://pypi.org/simple

tensorflow-rocm==2.14.0.600

#torch==2.9.1+rocm6.4
#torchvision==0.24.1+rocm6.4
#torchaudio==2.9.1+rocm6.4

dgl<2.0
