# Minimal pip requirement list for AMPL. This includes only the packages directly imported by AMPL code, plus a few others commonly used during development.

# cpu: pip install tensorflow
## cuda gpu: pip install tensorflow
### arm gpu: https://blog.tensorflow.org/2022/09/announcing-tensorflow-official-build-collaborators.html

tensorflow

# cpu: pip install jax
## cuda gpu: -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html jax[cuda11_pip]
### arm gpu: https://jax.readthedocs.io/en/latest/developer.html#additional-notes-for-building-a-rocm-jaxlib-for-amd-gpus

-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_pip]

# cpu: pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
## cuda 11.7 gpu: pip install torch
### arm gpu: pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/rocm5.4.2

torch
torch_geometric # is this required separately from torch? I think so. do we need torchvision and torch audio? I don't think so.

# cpu: pip install xgboost
## cuda gpu: pip install xgboost
### arm gpu: NA

xgboost


bokeh
matplotlib
matplotlib-venn
seaborn
umap-learn


bravado # installed with atomsci_clients - needed for ampl? no
pyaml   # installed with atomsci_clients - needed for ampl? no
pyarrow # is this needed for ampl? - used for feather


# requires pkg-config to build: sudo apt-get pkg-config
# requires Cairo: sudo apt-get install libcairo2-dev
# pycairo needed for ampl? - probably not


maestrowf
MolVS
mordred


pytest
ipykernel


# gpu: install gpu versions of packages first
deepchem[tensorflow] # instructions unclear here - trouble on my home system
deepchem[jax]        # instructions unclear here - trouble on my home system
deepchem[torch]      # instructions unclear here - works fine on home system

pyyaml==5.4.1
